<h1>New restaurant</h1>

<%= simple_form_for (@restaurant) do |f| %>
  <%= f.input :name, label: 'Restaurant name' %>
  <%= f.input :address, label: 'Address' %>
  <%= f.input :phone_number, label: 'Contact number' %>
  <%= f.input :category, label: 'Cuisine', error: 'select one dave!', collection: %w[chinese italian japanese french belgian] %>
  <%= f.button :submit %>
<% end %>
